<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%=title%></title> 

        <link rel="stylesheet" type="text/css" media="screen" href="./style/style_area.css" />

<!-- Última versão CSS compilada e minificada -->

        <style type="text/css">
            body {background-color: rgb(209, 46, 25);}

            #menulogin ul li { display: inline; }  
            #menuop ul li { display: inline; }  

            #menulogin {float:right;}   
            #menuop {float: left;}       

        </style>
    </head>

    <body>

        <header>

            <h3> Menu </h3>
            <li><a href="/">Pagina Inicial</a></li> 
                                
            <section id="menuop">
                <ul>
                    <li><a href="/formularios/menu">menu</a></li> 
                    <li><a href="/formularios/empresa">Empresa</a></li> 
                    <li><a href="/formularios/veiculo">Veículos</a></li> 
                   
                   
                </ul>                
            </section>

           
    
        </header>

        <footer id="rodape">

        </footer>

    </body>
</html>