<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Formulário - Empresa</title>
</head>

<body>
    <header>
        <h3>Formulário - Cadastro de Empresas</h3>
    </header>
    <hr>
<card>
    <form>
        <fieldset class="form-group">
            <div class="form-group row offset-md-0">
                <label for="razaosocial" class="col-md-2 col-form-label" align="right">Razão Social</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="razaosocial" placeholder="Nome da Empresa no CNPJ">
                </div>
            </div>
            <div class="form-group row offset-md-0">
                <label for="cnpj" class="col-md-2 col-form-label" align="right">CNPJ</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="cnpj" placeholder="00.000.000/0000-00">
                </div>
                <label for="regime" class="col-md-3 col-form-label" align="right">Regime</label>
                <div class="col-md-3">
                    <select class="form-control" id="regime" placeholder="-">
                        <option>Simples Nacional</option>
                        <option>Lucro Presumido</option>
                        <option>Lucro Real</option>
                    </select>
                </div>
            </div>
            <div class="form-group row offset-md-0">
                <label for="rua" class="col-md-2 col-form-label" align="right">Rua</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="rua" placeholder="Rua">
                </div>
                <label for="numero" class="col-md-1 col-form-label" align="right">Número</label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="numero" placeholder="Número">
                </div>
            </div>
            <div class="form-group row offset-md-0">
                <label for="bairro" class="col-md-2 col-form-label" align="right">Bairro</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="bairro" placeholder="Bairro">
                </div>
            </div>
            <div class="form-group row offset-md-0">
                <label for="cep" class="col-md-2 col-form-label" align="right">CEP</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="cep" placeholder="00.000-000">
                </div>
                <label for="cidade" class="col-md-1 col-form-label" align="right">Cidade</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="cnpj" placeholder="Cidade">
                </div>
                <label for="regime" class="col-md-1 col-form-label" align="right">Estado</label>
                <div class="col-md-2">
                    <select class="form-control" id="regime" placeholder="-">
                        <option value="">Selecione</option>
                        <option value="ac">Acre</option>
                        <option value="al">Alagoas</option>
                        <option value="ap">Amapá</option>
                        <option value="am">Amazonas</option>
                        <option value="ba">Bahia</option>
                        <option value="ce">Ceará</option>
                        <option value="df">Distrito Federal</option>
                        <option value="es">Espírito Santo</option>
                        <option value="go">Goiás</option>
                        <option value="ma">Maranhão</option>
                        <option value="mt">Mato Grosso</option>
                        <option value="ms">Mato Grosso do Sul</option>
                        <option value="mg">Minas Gerais</option>
                        <option value="pa">Pará</option>
                        <option value="pb">Paraíba</option>
                        <option value="pr">Paraná</option>
                        <option value="pe">Pernambuco</option>
                        <option value="pi">Piauí</option>
                        <option value="rj">Rio de Janeiro</option>
                        <option value="rn">Rio Grande do Norte</option>
                        <option value="rs">Rio Grande do Sul</option>
                        <option value="ro">Rondônia</option>
                        <option value="rr">Roraima</option>
                        <option value="sc">Santa Catarina</option>
                        <option value="sp">São Paulo</option>
                        <option value="se">Sergipe</option>
                        <option value="to">Tocantins</option>
                    </select>
                </div>
            </div>
            <div class="form-group row offset-md-0">
                <label for="logo" class="col-md-2 col-form-label" align="right">Logo</label>
                <div class="col-md-4">
                    <input type="file" class="form-control-file" id="logo">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 offset-md-4">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button type="button" class="btn btn-warning">Cancelar</button>

                </div>
                <div class="col-md-1 offset-md-0">
                </div>
            </div>
        </fieldset>

    </form>
</card>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>