
            <!-- <%- contentFor('footer') %> -->
            <div class="card-footer text-muted">
                    Desenvolvido por: <a href='http://johnnyvaz.com.br'>Johnny Vaz</a>
                  </div>